<!-- Sub Banner -->
	<div class="banner-min">
		<h1>Support</h1>
	</div>
	<!-- Sub Banner -->
	<div class="aboutWrap">
		<!-- Social Icon -->
		<div class="container">
			<ul class="socialIco">
				<li class="mr-10">Follow Us </li>
				<li><a href=""><img src="assets/images/gp.png" alt="Google Plus"></a></li>
				<li><a href=""><img src="assets/images/facebook.png" alt="facebook"></a></li>
				<li><a href=""><img src="assets/images/twitter.png" alt="twitter"></a></li>
			</ul>
		</div>
		<!-- /Social Icon -->

		<!-- Connect Frm -->
		<div class="download-col">
			<div class="container cf">
				<h2 class="col-title"><span>Connect with us</span></h2>
				<div class="container-1110 bigfrm">
					<div class="field-col">
						<label>First Name</label>
						<input type="text" class="frm-control" placeholder="Name">
					</div>

					<div class="field-col">
						<label>Last Name</label>
						<input type="text" class="frm-control" placeholder="Name">
					</div>

					<div class="field-col">
						<label>Email Address</label>
						<input type="text" class="frm-control" placeholder="Email ID">
					</div>

					<div class="field-col">
						<label>Phone Number</label>
						<input type="text" class="frm-control" placeholder="Number">
					</div>

					<div class="field-col fullWidth">
						<label>Message</label>
						<textarea name="" class="frm-control"></textarea>
					</div>

					<div class="block-col">
						<button type="submit" class="blueFull-btn">SUBMIT</button>	
					</div>
				</div>
			</div>
		</div>
		<!-- /Connect Frm -->
	</div>