<div class="headerBanner flex-center">
	<h1>Brain Power</h1>
</div>

<div class="aboutWrap">
		<!-- Social Icon -->
		<div class="container">
			<ul class="socialIco">
				<li class="mr-10">Follow Us </li>
				<li><a href=""><img src="assets/images/gp.png" alt="Google Plus"></a></li>
				<li><a href=""><img src="assets/images/facebook.png" alt="facebook"></a></li>
				<li><a href=""><img src="assets/images/twitter.png" alt="twitter"></a></li>
			</ul>
		</div>
		<!-- /Social Icon -->

		<!-- Overview -->
		<div class="articleBlock">
			<div class="container">
				<h2 class="col-title marginTB borderBTM">Brain training trains the cognitive skills the brain uses to think and learn.</h2>
        <p class="text-center">Cognitive skills are the core skills your brain uses to think, read, learn, remember, reason, and pay attention. Working together, they take incoming information and move it into the bank of knowledge you use every day at school, at work, and in life. Each of your cognitive skills plays an important part in processing new information. That means if even one of these skills is weak, no matter what kind of information is coming your way, grasping, retaining, or using that information is impacted. In fact, most learning struggles are caused by one or more weak cognitive skills.</p>
        <h3 class="text-center h3Title">Here’s a brief description of each of your cognitive skills, as well as struggles you may be experiencing if that skill is weak:</h3>
        <ul class="listingDetails">
          <li>
            <h4>Attention/Sustained</h4>
            <p>
                What it does: Enables you to stay focused and on task for a sustained period of time Common problems when this skill is weak: Lots of unfinished projects, jumping from task to task
            </p>
          </li>
          <li>
            <h4>Attention/Selective</h4>
            <p>
              What it does: Enables you to stay focused and on task despite distractions Common problems when this skill is weak: Easily distracted
            </p>
          </li>
          <li>
            <h4>Attention/Divided</h4>
            <p>
              What it does: Enables you to remember information while doing two things at once Common problems when this skill is weak: Difficulty multitasking, frequent mistakes
            </p>
          </li>
          <li>
            <h4>Memory/Long-Term</h4>
            <p>
              What it does: Enables you to recall information stored in the past Common problems when this skill is weak: Forgetting names, doing poorly on tests, forgetting things you used to know
            </p>
          </li>
          <li>
            <h4>Memory/Working</h4>
            <p>
              What it does: Enables you to hang on to information while in the process of using it Common problems when this skill is weak: Having to read the directions again in the middle of a project, difficulty following multi-step directions, forgetting what was just said in a conversation
            </p>
          </li>
          <li>
            <h4>Logic &amp; Reasoning</h4>
            <p>
              What it does: Enables you to reason, form ideas, and solve problems Common problems when this skill is weak: Frequently asking “What do I do next?” or saying “I don’t get this,” struggling with math, feeling stuck or overwhelmed
            </p>
          </li>
          <li>
            <h4>Auditory Processing</h4>
            <p>
              WWhat it does: Enables you to analyze, blend, and segment sounds Common problems when this skill is weak: Struggling with learning to read, reading fluency, or reading comprehension
            </p>
          </li>
          <li>
            <h4>Visual Processing</h4>
            <p>
              What it does: Enables you to think in visual images Common problems when this skill is weak: Difficulties understanding what you’ve just read, remembering what you’ve read, following directions, reading maps, doing word math problems
            </p>
          </li>
        </ul>
			</div>
		</div>
		<!-- /Overview -->

	</div>
