
.table-feedback.tabfeed.feedtable{
	border:1px solid #D9D9D9;
	width: 100%;
}
.table-feedback.tabfeed.feedtable thead tr{background-color: #EEEEEF;}
.table-feedback.tabfeed.feedtable thead tr th{text-align: left; padding: 13px 10px;   
	font-size: 0.9rem;font-weight: 500;color: #7E7E7E;vertical-align: middle;text-transform: uppercase;}
/*.table-feedback.tabfeed.feedtable tbody .txt-black-mm a{color: #7E7E7E;text-decoration: none;font-size: 0.9rem;}*/
  /*.table-feedback.tabfeed.feedtable tbody a.feedback-link{font-size: 1rem !important;display: block;  text-transform: uppercase;} */
.table-feedback.tabfeed.feedtable tbody a{color: #007AC2;text-decoration: none}
/*  .table-feedback.tabfeed.feedtable thead tr td{width: 20%}*/