.pop-box {
    background: #fff;
    max-width: 660px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    
}

.modal-wrap-pop {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
}

.pop-box .block-col.duel-btn .blueFull-btn {
    width: 160px;
    display: inline-block;
    margin: 20px 10px 10px;
}

.pop-box .block-col.duel-btn .blueFull-btn.grybtn {
    background: #9F9F9F;
}
.pop-box .block-col.duel-btn .blueFull-btn {
    width: 160px;
    display: inline-block;
    margin: 20px 10px 10px;
}