.wrapper-dropdown-2 {
    display: block;
}
.wrapper-dropdown-2 p {
    margin: 16px 0;
    text-align: left;
}
.wrapper-dropdown-2 .dropdown {
    text-align: left;
    display: none;
    opacity: 1;
    position: relative;
    width: 195px;
    margin-top: 0;
    top: 0px;
    left: -13px;
    right: 0;
}
.dashboard-head.dashboard-head-cust .field-col label {
    padding-right: 10px;
}
.dropdown-N:hover ul {
    display: block;
}