
.dashboard-container {
    margin-right: 230px;
    position: relative;
    padding-bottom: 90px;
}

.dashboard-tabs {
    list-style: none;
    display: flex;
    -webkit-box-shadow: -1px 6px 15px 0px rgba(204,204,204,1);
    -moz-box-shadow: -1px 6px 15px 0px rgba(204,204,204,1);
    box-shadow: -1px 6px 15px 0px rgba(204,204,204,1);
    height: 70px;
    background-color: #fff;
    justify-content: center;      
}

.dashboard-tabs li{
    flex: 1;
    border-right: 1px solid #D9D9D9;
    text-transform:uppercase;
}

.dashboard-tabs li a{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #7E7E7E;
    font-weight: 600;
    font-size: 0.98rem;
    border-bottom: 4px solid #ffffff;
}

.dashboard-tabs li:last-child {
   border-right: 0px;
}

.dashboard-tabs li a:hover{
    border-bottom: 4px solid #007AC2;
    color: #1E85C6;
}

.container-bg {
    background-color: #EEEEEF;
    min-height: 1000px;
}

.dashboard-block {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(204,204,204,1);
    box-shadow: 0px 2px 7px 0px rgba(204,204,204,1);
    min-height: 400px;
    background-color: #fff;
    margin-top: 30px;
}

.home-icon {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -528px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .home-icon {
    background-position: -766px -8px;
}

.roster-icon {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -563px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .roster-icon {
    background-position: -801px -8px;
}

.stats-icon {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -597px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .stats-icon {
    background-position: -835px -8px;
}

.assign-icon {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -631px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .assign-icon {
    background-position: -869px -8px;
}

.feed-icon {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -663px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .feed-icon {
    background-position: -901px -8px;
}

.msg-icon {
    width: 26px;
    height: 21px;
    background: url(../images/sprite.png) -697px -8px;
    margin-right: 11px;
}

.dashboard-tabs li a:hover .msg-icon {
    background-position: -935px -8px;
}

.dashboard-head {
    height: 90px;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.h2-dash {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1C1C1C;
}

.btn-blue {
    background-color: #007AC2;
    height: 50px;
    padding: 0px 20px 0px 20px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
}


.table-dash {
    width: 100%;
    border-top: 1px solid #D9D9D9;
}

.table-dash thead tr{
    background-color: #EEEEEF;
}

.table-dash thead th{
    text-align: left;
    padding: 13px 10px 13px 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    color: #7E7E7E;
    vertical-align: middle;
}

.table-dash tbody td{
    padding: 30px 0px 22px 20px;
    border-bottom: 1px solid #D9D9D9;
    vertical-align: middle;
}

.table-dash tbody tr {
    border-bottom: 1px solid #000;
}

.profile-img {
    width: 43px;
    height: 43px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #CACACA;
    display: flex;
    margin-right: 30px;
    overflow: hidden;
}

.action-block {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.edit-tb-btn {
    display: flex;
    width: 85px;
    height: 38px;
    background-color: #868686;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 4px;
}

.delete-tb-btn {
    display: flex;
    width: 83px;
    height: 38px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #C80012 !important;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 2px solid #C80012;
}

.profile-tb-block {
    display: flex;
    align-items: center;
}

.profile-link {
    display: flex;
}

.table-team tbody tr td:last-child {
    width: 211px;
}

.table-roster tbody tr td:last-child {
    width: 100px;
}

.plus-icon {
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) -603px -77px;
    display: flex;
    margin-top: 2px;
    margin-right: 7px;
}

.btn-bottom-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: none;
}

.ads-container {
    width: 230px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.ps-relative {
    position: relative;
}

.ad-class {
    margin-left: 30px;
    margin-top: 102px;
}

.ad-block {
    position: relative;
    width: 100%;
}

.table-roster tbody tr {
    line-height: 25px;
}

.delete-icon {
    width: 24px;
    height: 31px;
    background: url(../images/sprite.png) -732px -10px;
    display: flex; 
}

.table-dash a {
    color: #007AC2;
    text-decoration: none;
}

.table-roster thead th:nth-of-type(1) {
    width: 65px;
    padding: 0px;
    text-align: right;
}

.table-roster .profile-img {
    margin-right: 0px;
}

.table-roster thead th {
    padding: 13px 10px 13px 20px;
}

/**************Switch Css Checkbox***************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007AC2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*********************************************************/

@media only screen and (max-width: 1210px) {
    .dashboard-container {
        margin-right: 0px;
    }

    .ads-container {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .dashboard-tabs span{
        display: none;
    }

    .dashboard-tabs i{
        margin-right: 0px;
    }

    .dashboard-tabs li {
        border-right: 0px;
        padding: 0px 10px 0px 10px;
    }

    .dashboard-tabs {
        box-shadow: -1px 1px 1px 1px rgba(204,204,204,1);
        height: 57px;
    }

    .btn-bottom-mobile {
        display: flex;
    }

    .btn-desktop {
        display: none;
    }

    .dashboard-block {
        padding-bottom: 50px;
        margin-top: 60px;
    }

    .dashboard-head {
        height: 50px;
    }
}


@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
        /* Force table to not be like tables anymore */
        .table-dash table, .table-dash thead, .table-dash tbody, .table-dash th, .table-dash td, .table-dash tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        .table-dash thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        .table-dash tr { border: 1px solid #ccc; }
        
        .table-dash td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 176px !important; 
        }
        
        .table-dash td:before { 
            position: absolute;
            top: 0px;
            left: 0px;
            width: 130px;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #F3F3F3;
            padding-left: 20px;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 500;
            color: #7E7E7E;
        }

        .table-roster td { 
            padding-left: 201px !important; 
        }
        
        .table-roster td:before { 
            width: 160px;
        }        
        
        /*
        Label the data
        */
        .table-team td:nth-of-type(1):before { content: "Team"; }
        .table-team td:nth-of-type(2):before { content: "Sport"; }
        .table-team td:nth-of-type(3):before { content: "Owner"; }
        .table-team td:nth-of-type(4):before { content: "Actions"; }

        .table-team tbody tr td:last-child, .table-roster tbody tr td:last-child {
            width: auto;
        }

        .table-roster td:nth-of-type(1):before { content: "Photo"; }
        .table-roster td:nth-of-type(2):before { content: "Name"; }
        .table-roster td:nth-of-type(3):before { content: "Contact Info"; }
        .table-roster td:nth-of-type(4):before { content: "Status"; }        
        .table-roster td:nth-of-type(5):before { content: "Actions"; }
        .table-roster td:nth-of-type(6):before { content: "Education Module"; }        

        .table-dash tbody td {
            padding: 0px 0px 0px 20px;
            height: 62px;
            background-color: #fff;
        }

        .table-dash tbody td span{
            display: flex;
            align-items: center;
            height: 100%;
        }

        .table-dash {
            border-top: 0px;
        }

        .action-block {
            justify-content: left;
        }

        .delete-tb-btn {
            margin-left: 14px;
        }

        .table-dash tbody tr {
            border-bottom: 0px;
            margin-bottom: 17px;
        }

        .dashboard-block {
            background-color: #EEEEEF;
            box-shadow: none;
        }

    }

@media only screen and (max-width: 400px) {
    .table-dash tbody td {
        padding-left: 32% !important;
    }

    .table-dash td:before {
        width: 22%;
    }

    .table-roster tbody td {
        padding-left: 42% !important;
    }

    .table-roster td:before {
        width: 31%;
    }    
}