
	<!-- banner -->
	<div class="banner-col">
		<img src="assets/images/banner001.png" alt="Banner Image">
	</div>
	<!-- /banner -->

	<!-- category section -->
	<div class="category-col">
		<div class="container cf">
			<h2 class="col-title"><span>increase your speed of play with team sport IQ</span></h2>
			<div class="cati-box">
				<figure>
					<img src="assets/images/2_icon.png" alt="">
				</figure>
				<h3>Player IQ Development </h3>
				<p>Player intelligence education modules designed to increase the "Processing Speed" of a players mind to give them a greater opportunity to make faster correct decisions on the field.  Assign individual modules to players or assign the entire team a set of modules.</p>
			</div>

			<div class="cati-box">
				<figure>
					<img src="assets/images/leaderboard.png" alt="">
				</figure>
				<h3>Competitive Leaderboard</h3>
				<p>The Leaderboard has been created to enable competition with in the team and for players to strive to be "above the line."  Individual trophies will be earned on the leaderboard.</p>
			</div>

			<div class="cati-box">
				<figure>
					<img src="assets/images/age.png" alt="">
				</figure>
				<h3>Age Appropriate Education</h3>
				<p>Age & Level of competition matter in development of the sports mind. Teams of all ages ranging from 5 years old to players in college will benefit from working with Team Sports IQ.</p>
			</div>

			<div class="cati-box">
				<figure>
					<img src="assets/images/coach01.png" alt="">
				</figure>
				<h3>Coaching Module on Sports IQ</h3>
				<p>Game decisions can be stressful and sometimes costly to the players development.  The SportsIQ Coaching module will increase your ability to see opportunities as they are developing and know how to "coach" your team.</p>
			</div>

			<div class="cati-box">
				<figure>
					<img src="assets/images/coach_player.png" alt="">
				</figure>
				<h3>Coach/Player Accountability</h3>
				<p>Assign Modules to individual players and know when they are completed.  As a coach you can monitor who's working on their soccer mind.</p>
			</div>

			<div class="cati-box">
				<figure>
					<img src="assets/images/invite.png" alt="">
				</figure>
				<h3>Invitation</h3>
				<p>Computer Browser, Mobile Browser, iOs App, & Android App registration to invite your team to participate in the only Technology Driven Player Development Tool that will increase their speed of play through increasing their knowledge of the beautiful game.</p>
			</div>
		</div>
	</div>
	<!-- /category section -->

	<!-- How it works section-->
	<div class="green-col">
		<h2 class="col-title"><span>How it works</span></h2>
		<div class="container cf">
			<div class="col-2 text-col-grn">
				<h3>A Simple Education Platform with Powerful Modules to Increase Players Speed in Recognizing Situations on the Field, Quickly Making Good Decisions, and Much More.</h3>

				<p>Team Sports IQ has been derived to develop the powerful mind of a player within the sport they love.  Players will be educated on fundamentals, and given an opportunity to showcase their knowledge to the rest of the team and coaches in your team leaderboard.  Developing the Sports Mind has been a long term passion of our players at Team Sports IQ and we believe the following application will create an advantage for your players long term development. </p>
				<p>Team Sports IQ cognitive learning platform will deliver intelligence results for all levels of players on the field.  They say that the "Great Ones" have a sixth sense of the sport they play, but in reality they just understand the intellectual dynamics of the sport & exploit the other players lack of understand on how to play the sport.</p>
			</div>
			<div class="col-2">
				<img src="assets/images/video.png" alt="">
			</div>
		</div>
	</div>
	<!-- /How it works section-->

	<!-- registration block -->
	<div class="gray-col">
		<h1>GET STARTED TODAY AND INCREASE YOUR TEAMS SPORTS IQ!<a href="javascript:void(0)" [routerLink]="['/register']" class="diagonal-btn">register</a></h1>
	</div>
	<!-- /registration block -->

	<!-- app download section -->
	<div class="download-col">
		<div class="container cf">
			<h2 class="col-title"><span>Download App</span></h2>
			<div class="col-2">
				<img src="assets/images/devices.png" alt="">
			</div>
			<div class="col-2 pl-20-m">
				<h3>Increase Your Teams "Speed of Play" on the Go with Team Sports IQ App.</h3>
				<ul>
					<li>Player IQ Development</li>
					<li>Age Appropriate EducationCompetitive Leaderboard</li>
					<li>Great Accountability</li>
					<li>Invite & Add Players</li>
					<li>Coaches Module on Sports IQ</li>
				</ul>
				<div class="app-ico cf">
					<a href="">
						<img src="assets/images/google_play.png" alt="Google Play">
					</a>
					<a href="">
						<img src="assets/images/appstore.png" alt="Apple App Store">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /app download section -->

	<!-- testimonial section -->
	<div class="blue-col">
		<div class="container-min">
			<h2 class="col-title"><span>testimonial</span></h2>
			<div class="testimonial-col owl-carousel owl-theme">
				<div class="fedbck-col item">
					<div class="userImg">
						<img src="assets/images/user.png" alt="user">
					</div>
					<div class="userTxt">
						<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						<h4>User Name, <span>Captian Delhi FC</span></h4>
					</div>
				</div>

				<div class="fedbck-col item">
					<div class="userImg">
						<img src="assets/images/user.png" alt="user">
					</div>
					<div class="userTxt">
						<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						<h4>User Name, <span>Captian Delhi FC</span></h4>
					</div>
				</div>

				<div class="fedbck-col item">
					<div class="userImg">
						<img src="assets/images/user.png" alt="user">
					</div>
					<div class="userTxt">
						<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						<h4>User Name, <span>Captian Delhi FC</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /testimonial section -->

	<!-- social feed section -->
	<div class="socialfeed">
		<div class="cf container">
		<div class="col-3">
				<div class="fb-col">
					<h3>facebook</h3>
				</div>
			</div>
			<div class="col-3 m-lr10">
				<div class="twt-col">
					<h3>Twitter</h3>
				</div>			
			</div>
			<div class="col-3">
				<div class="inst-col">
					<h3>Instagram</h3>
				</div>			
			</div>
		</div>
	</div>
	<!-- /social feed section -->
